<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img src="../../../assets/img/volver.png" alt="" width="2%" id="btn-volver-02" routerLink="../menu"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size-xs="12" size-md="6">
      <img src="../../../assets/img/volver.png" routerLink="../lista-profesores" alt="" width="2%" id="btn-volver">
      <ion-list>
        <ion-item>
          <ion-label>N°</ion-label>
          <ion-label>Clase</ion-label>
          <ion-label>Fecha</ion-label>
          <ion-label>Acción</ion-label>
        </ion-item>
        <div id="ion-lista-clases">
        </div>
        <ion-item>
          <ion-label><ion-button expand="full">Iniciar Clase</ion-button></ion-label>
        </ion-item>
      </ion-list>           
    </ion-col>
  </ion-row>
</ion-content>