<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img src="../../../assets/img/volver.png" alt="" width="2%" id="btn-volver"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="fondo">
  <ion-row>
    <ion-col>
      <div id="lista-alumnos">
        <ion-list>
          <ion-item>
            <ion-label>Id Asistencia</ion-label>
            <ion-label>Fecha</ion-label>
            <ion-label>Alumno</ion-label>
            <ion-label>Asistió?</ion-label>
          </ion-item>
          <div id="ion-lista-alumnos">
          </div>
        </ion-list>           
      </div>
    </ion-col>
  </ion-row>
</ion-content>