<div class="fondo-pie">
  <div style="display: flex; justify-content: center;">
    <div class="cuadro">
      <img class="foto" src="../../../assets/img/foto.png" alt="">
    </div>
    <div class="cuadro">
      <img class="foto" src="../../../assets/img/image_25.png" alt="">
    </div>
    <div class="cuadro">
      <img class="foto" src="../../../assets/img/image_24.png" alt="">
    </div>
    <div class="cuadro">
      <img class="foto" src="../../../assets/img/image_23.png" alt="">
    </div>
  </div>
</div>
