.fondo{
    --background: url('./../../../assets/img/naranjo.jpg') 0/100% 100%;
}

.contenedor-carga{
    margin-top: 150px;
}

.contenedor-carga ion-img{
    width: 250px;
    height: 250px;
    margin: auto;
}

.titulo{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}