.fondo{
    --background: url('./../../../assets/img/fondo-plomo.jpg') 0/100% 100%;
}


.titulo{
    font-size: xx-large;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: auto;
    border: solid 1px black;
    background: url(./../../../assets/img/user.png) 0/100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenedor-input{
    background-color: rgb(230, 176, 107);
    margin: 15px;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenedor-input img{
    width: 50px;
    border-radius: 50%;
    border: solid 1px black;
}